
        
        <form id="fileupload" action="%actionurl%" method="POST" enctype="multipart/form-data">
            <!-- Browsers with JavaScript disabled -->
            <noscript>Denne siden krever at JavaScript er påskrudd.</noscript>

            <!--[if LT IE  10]>

            <p class="warning">
                Du bruker en for gammel versjon av Internet Explorer.
                For å kunne bruke opplastingsfunksjonen må du oppgradere
                til minst Internet Explorer 10.
            </p>

            <![endif]-->

            <p>
                Tips: Hold inne shift-tasten for å velge flere filer samtidig.
                Maks filstørrelse per fil er %upload_max_filesize%.
            </p>

            <div>

                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="fileinput-button">
                    <span>Legg til filer...</span>
                    <!-- The file input field used as target for the file upload widget -->
                    <input type="file" name="files[]" multiple>
                </span>

                <button type="submit" class="start" disabled="disabled">Last opp</button>
            </div>

            <div class="please_wait" style="display:none; font-size:200%; margin-top:20px;">
                Vennligst vent
            </div>

            <!-- The global progress bar -->
            <div id="progress" class="ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" style="width: 490px;margin:20px 0;">
                <div class="ui-progressbar-value ui-widget-header ui-corner-left bar" style="width: 0%;"></div>
            </div>

            <!-- The container for the uploaded files -->
            <table id="files" class="files">
                <tbody>
                </tbody>
            </table>

        </form>

        <script type="text/javascript">

        $(function () {
            'use strict';

            var queue = [],
                uploadsPending = 0;

            $('.fileinput-button, button.start').button();

            $('#fileupload').on('submit', function(e) {
                e.preventDefault();
                $('.fileinput-button, button.start').button({disabled: true});
                $('.please_wait').show();

                uploadsPending = queue.length;
                for (var i = 0; i < queue.length; i++) {
                    queue[i].submit();
                }

            });

            function _formatFileSize (bytes) {
                if (typeof bytes !== 'number') {
                    return '';
                }
                if (bytes >= 1000000000) {
                    return (bytes / 1000000000).toFixed(2) + ' GB';
                }
                if (bytes >= 1000000) {
                    return (bytes / 1000000).toFixed(2) + ' MB';
                }
                return (bytes / 1000).toFixed(2) + ' KB';
            };

            // Initialize the jQuery File Upload widget:
            $('#fileupload')
            .fileupload({
                dataType: 'json',
                autoUpload: false,
                singleFileUploads: true,
                limitConcurrentUploads: 3,
                imageMaxWidth: 3264,
                imageMaxHeight: 3264,
                disableImageResize: /Android(?!.*Chrome)|Opera/.test(window.navigator.userAgent),
                previewMaxWidth: 80,
                previewMaxHeight: 60,
                previewCrop: true,
            })
            .on('fileuploadadd', function (e, data) {
                // The add callback is invoked as soon as files are added to the fileupload
                // widget (via file input selection, drag & drop or add API call).

                var uploadFile = data.files[0];
                if (!(/\.(jpg|jpeg)$/i).test(uploadFile.name)) {
                    alert("Kun jpg-filer blir spist. "+ uploadFile.name + " blir ikke lagt til.");
                    return;
                }

                //console.log(data);
                queue.push(data);

                $('#fileupload .start').button({disabled: false});
                //console.info("UploadAdd");
                data.context = $('<tr class="file-row"/>').appendTo('#files tbody');
                $.each(data.files, function (index, file) {
                    var cell = $('<td/>').text(file.name);
                    $('<td/>').appendTo(data.context);
                    cell.appendTo(data.context);
                });
            })
            .on('fileuploadprocessalways', function (e, data) {
                var index = data.index,
                    file = data.files[index],
                    row = data.context;
                
                //console.info('ProcessAlways: ' + data.index);

                if (file.preview) {
                    row.find('td:nth-child(1)').html(file.preview);
                    row.find('td:nth-child(2)').append('<br />' + _formatFileSize(file.size)
                        + ' : <span class="status" style="font-weight: bold;">Venter</span>');
                }
                if (file.error) {
                    node
                        .append('<br>')
                        .append(file.error);
                }
            })
            .on('fileuploaddone', function (e, data) {
                $.each(data.result.files, function (index, file) {
                    var link = $('<a>')
                        .attr('target', '_blank')
                        .prop('href', file.url);
                    $(data.context.children()[index])
                        .wrap(link);
                });
            })
            .on('fileuploadprogress', function (e, data) {
                var row = $(data.context);
                var progress = parseInt(data.loaded / data.total * 100, 10);
                row.find('.status').html(progress + ' %');
            })
            .on('fileuploadprogressall', function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .bar').css('width', progress + '%');
            })
            .on('fileuploaddone', function(e, data) {
                //console.info('upload done');
                var row = data.context;
                var err = data.jqXHR.responseJSON.files[0].error;
                if (err) {
                    row.find('.status').html(err);                    
                } else {
                    row.find('.status').html('lastet opp');
                }
                if (--uploadsPending <= 0) {
                    //console.info('all done');
                    window.location = '%completeurl%';
                }
            })
            .on('fileuploadfail', function(e, data) {
                //console.info('upload done');
                var row = data.context;
                row.find('.status').html('Det oppsto en feil!');
                // if (--uploadsPending <= 0) {
                //     console.info('all done');
                //     //window.location = '%completeurl%';
                // }
            });


        });
        </script>
        <!--[if LT IE  10]>
            <script type="text/javascript">
            $('.fileinput-button, button.start').button({disabled:true});
            </script>
        <![endif]-->
