<p>
  Om du ikke allerede har @18bergen.org-adresse, 
  kan du få det ved å <a href='/kontakt/webmaster'>kontakte webmaster</a>.
</p>
<h2>Innlogging for webpost</h2>
<p>
NB! Du trenger en egen brukerkonto for webpost, du kan ikke bruke den samme
innloggingen som du bruker på nettsiden.
</p>
<form action="https://webmail.18bergen.org/src/redirect.php" method="post" style='border: 1px solid #000000;'>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr><td align="center"><center>
<small>SquirrelMail versjon 1.4.20<br />
  </small>
<table border="0" width="350"><tr><td bgcolor="#dcdcdc" align="center"><b>18. Bergen V-S Login</b>
</td>
</tr>
<tr><td align="left">
<table align="center" border="0" width="100%"><tr><td align="right" width="30%">Brukernavn:</td>
<td align="left" width="*"><input type="text" name="login_username" value="" />
</td>
</tr>

<tr><td align="right" width="30%">Passord:</td>
<td align="left" width="*"><input type="password" name="secretkey" />
<input type="hidden" name="js_autodetect_results" value="0" />
<input type="hidden" name="just_logged_in" value="1" />
</td>
</tr>
</table>
</td>
</tr>
<tr><td align="left"><center><input type="submit" value="Login" />
</center></td>
</tr>
</table>
</center></td>
</tr>
</table>
</form>
