
a.jubileum:hover {
 background:#ebf8dc;
}

/* Basic */

html { margin: 0px; padding: 0px; }
body { margin: 0px; padding: 0px; background: url(../_design/header_top2.png) repeat-x top #EDF0ED; }

.showonprintonly {
 display: none;
}


/* _____________________________________ General classes _____________________________________ */


p.notice, p.info, p.help, p.warning {

	 border-radius: 5px; 					/* Opera */
	 -moz-border-radius: 5px; 				/* Mozilla */
	 -webkit-border-radius: 5px; 			/* Webkit (Safari, Chrome) */

	padding: 10px 20px 10px 34px;
	font-family: sans-serif;
	font-size: 10pt;
}
p.notice {
	background: url('../images/icns/error.png') 10px 8px no-repeat #ffffff;
	border: 1px solid #cccccc;
}
p.info {
	background: url('../images/icns/information.png') 10px 8px no-repeat #ffffff;
	border: 1px solid #cccccc;
}
p.help {
	background: url('../images/icns/help.png') 10px 8px no-repeat #ffffff;
	border: 1px solid #cccccc;
}
p.warning {
	background: url('../images/icns/error.png') 10px 8px no-repeat #ffffff;
	border: 1px solid #ee8888;
}
img.round-corners {
 border: 1px solid #666;
 border-radius: 10px; 					/* Opera */
 -moz-border-radius: 10px; 				/* Mozilla */
 -webkit-border-radius: 10px; 			/* Webkit (Safari, Chrome) */
 box-shadow: 0px 0px 3px #888;			/* Opera */
 -moz-box-shadow: 0px 0px 3px #888;	/* Mozilla */
 -webkit-box-shadow: 0px 0px 3px #888; /* Webkit (Safari, Chrome) */
}
img.round-corners-small {
 border: 1px solid #666;
 border-radius: 5px; 					/* Opera */
 -moz-border-radius: 5px; 				/* Mozilla */
 -webkit-border-radius: 5px; 			/* Webkit (Safari, Chrome) */
 box-shadow: 0px 0px 3px #888;			/* Opera */
 -moz-box-shadow: 0px 0px 3px #666;	/* Mozilla */
 -webkit-box-shadow: 0px 0px 3px #666; /* Webkit (Safari, Chrome) */
}


/* _____________________________________ PAGE LAYOUT DIV'S _____________________________________ */

#header {
 height: 190px;
 margin: 0px auto 0px auto;
 width: 940px;
 position: relative;
}

#container1 {
  margin:15px auto 0px auto;
  width: 956px;			 /* Page width - padding */
  overflow: hidden;
}
#container2 {
 float:right;
 width:796px;	/* Page width - left_col width */
}
.column {
  /*
  padding-bottom: 2010px;  
  margin-bottom: -2000px;  
  */
}
.inner_col {
  padding:10px;
}


#right_col {
 float:left;
 width:240px;
}
#right_col .inner_col {
 background:#d0ded4;
 border-left:1px solid #dce5de;
 border-right:1px solid #dce5de;
}

#left_col {
  width: 160px;
  float: right;
}
#left_col .inner_col {
 background: #928166; /* more precise: rgb(147,130,99) */
 border-left:1px solid #bdb5a6;
 border-right:1px solid #bdb5a6;
}

#main_col {
  float: left;
  width: 556px;
}
#main_col_wide {
  float: left;
  width: 796px;
}
#main_col .inner_col, #main_col_wide .inner_col {
  padding:10px 20px 20px 20px;
}


#left_col .col_below { height: 6px; background: url(../_design/left_col_bottom.png) no-repeat top; }
#left_col .col_above { height: 7px; background: url(../_design/left_col_top.png) no-repeat bottom; }
#right_col .col_below { height: 5px; background: url(../_design/right_col_bottom.png) no-repeat top; }
#right_col .col_above { height: 5px; background: url(../_design/right_col_top.png) no-repeat bottom; }


#footer {
  position: relative;
  background:url(../_design/footer.png) #8d9c88;
  clear: both;
  height:18px;
  text-align:center;
  margin:0px auto 100px auto;
  padding-left:10px;
  padding-top:34px;
  color:white;
  font-size:11px;
  width: 930px;			 /* Page width -padding*/
}
#footer a, #footer a:visited {
  color:white;
}


#right_col h2 {
 font-size      : 11px;
 letter-spacing : normal;
 text-align     : center;
 font-weight    : bold;
 color			: #4e6749;
 font-family    : Tahoma, Arial, serif;
 margin         : 0px 0px 10px 0px;
 padding		: 1px;
 text-transform : uppercase;
}

#header h1 {
 height: 120px;
 margin: 0px;
 padding: 0px;
 font-size: 16px;
 visibility: hidden;
}
#loginfelt {
 padding-top: 0px;
 margin-left: 10px;
 margin-right:10px;
 height:48px;
}
#infofelt {
 float:right;
 width:250px;
 margin-right:10px;
 height:52px;
}
#infofelt p { margin: 0px; padding: 0px; }

#language_bar {
 float			: right;
 text-align		: right;
 width:200px;
 padding-top: 2px;
 padding-right:8px;
}
#language_bar a {
 padding:1px;
 display:block;
 float:right;

}
#language_bar a:hover {
 background:#ffff99;
}

#language_bar a img {
 padding:0px;margin:0px;
 border:0px;
}

#left_col a, #left_col a:visited {
 color: #fff;
}

/****** BREADCRUMB ******/

#breadcrumb {
 padding-top: 3px;
 margin-left: 170px;
 color: #ffc;
 font-weight: bold;
 font-size: 10px; 
}
#breadcrumb a {
 color: #fff;
}

.ui-autocomplete-loading {
  background: white url('/images/ui-anim_basic_16x16.gif') right center no-repeat;
}

/* ___________________________________________ MENU ____________________________________________ */

ol.menu {
 margin: 0px;
 padding: 0px;

}
ol.menu ol {
 margin: 0px 0px 0px 0px;
 padding: 1px 1px 1px 1px;
}

ol.menu li {
 font-size: 10px;
 padding: 0px;
 margin: 0px;
 list-style-type: none;
 background: none;
}
ol.menu li li {
 padding-left:10px;
}
ol.menu li.header {
 list-style-type: none;
 font-size      : 10px;
 text-align     : center;
 color			: #ffffff;
 font-family    : Tahoma, Arial, serif;
 font-weight    : bold;
 display        : block;
 margin         : 0px;
 padding		: 8px 0px 2px 0px;
 letter-spacing : 2px;
}

ol.menu div.selected {
  font-style:italic;
}

ol.menu a {
 display:block;
 padding:1.5px 5px 1.5px 7px;
}
ol.menu a:hover {
 background: #816e50;
 text-decoration:none;
}


fieldset {
  padding: 8px;
}
fieldset legend {
  margin-bottom: 5px;
}

/* Page Layout */

/* LEFT COLUMN */




tt.codeExample {
 display         : block;
 padding         : 5px;
 margin          : 2px;
 font-weight     : bold;
 color           : #0000FF;
}

.mediumtext {
 font-family    : Tahoma;
 font-size      : 12pt;
}
.smalltext {
 font-family    : Tahoma;
 font-size      : 10px;
}
.lastedited {
 font-family    : Tahoma;
 font-size      : 10px;
 clear			: both;
}
p.smallright {
 font-family    : Tahoma;
 font-size      : 10px;
 text-align     : right;
 padding        : 0px;
 margin         : 0px;
}
.bildetekst {
 font-family    : Tahoma;
 font-size      : 12pt;
 font-style     : italic;
 text-align     : right;
}

div.code {
	display: block; 
	margin-top: 4px; 
	margin-bottom: 4px; 
	white-space: nowrap; 
	padding: 6px; 
	background: #FFFFFF; 
	border: 1px dashed #999999;
	color: #0000FF;
	overflow:auto;
	width:370px;
	height: 400px;
	font-family: 'Courier New', Courier;
	font-size: 8pt;
}
div.sitat1 div.code {
	width:350px;
}
div.sitat2 div.code {
	width:330px;
}
div.sitat3 div.code {
	width:310px;
}


div#bursdager {
 font-size: 10px;
}
div#statistikk {
 font-size: 10px;
}

/* Others styles */

/* Brukes bla. av messagecenter-klassen */
table.msg_list {
  border-spacing: 0px;
}
table.msg_list tr.row0 {
  background: #ffc;
}
table.msg_list th {
  text-align: left;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
table.msg_list td, table.msg_list th {
  padding: 2px;
}
table.msg_list tr.row1 {
  cursor: pointer;
}
table.msg_list tr.row_hover {
  background: white;
}

.adr_etiq {
 width: 230px;
 float:left; 
 background: white; 
 padding: 5px;
 margin: 2px; 
 border: 1px solid #ddd; 
 font-size: 12px; 
}


.ErrorMessage {
 background     : #FFFFFF; 
 border         : #FF0000 1px solid; 
 margin         : 10px; 
 padding        : 10px; 
 color          : #FF0000;
}
.smalledit {
 background     : #88aa88;
 font-family    : Verdana, Arial, Helvetica, sans-serif;
 border         : #333333 1px inset;
 font-size      : 10px;
 padding        : 0px;
}
.smallbutton {
 background	    : #aabbaa;
 margin-top     : 4px;
 padding        : 0px;
 font-family    : Tahoma;
 font-size      : 10px;
 border         : #777777 1px outset;
}
.ProfileEdit {
 background     : #bbccbb;
 font-family    : Tahoma;
 font-size      : 12px;
 border         : #337733 1px inset;
}
.whiteedit {
 background     : #ffffff;
 height         : 18px;
 font-family    : Verdana, Arial, Helvetica, sans-serif;
 border         : #999999 1px solid;
 font-size      : 10px;
 margin         : 0px;
 padding        : 0px;
}
.whiteedit:hover {
 background     : #efefef;
}

.BorderLink {
	border      : 1px #FFFFFF solid;
}
.BorderLinkHover {
	border      : 1px #FFCC66 solid;
}

/* Positioning in index.php */

	/* Level 0 layers */


div#lenker ul {
 margin: 0px 0px 10px 5px;
 padding: 0px;
}
div#lenker li {
 margin           : 0px 0px 0px 5px;
 padding          : 0px;
 font-family      : Tahoma;
 font-size        : 10px;
 list-style-type  : square;
 list-style-image : url(../images/strek.gif);
}
	/* Level 1 layers */

div#minikalender {
 width			: 200px;
 z-index        : 1;
}

	/* Level 2 layers */

td.statustext {
 font-size      : 8pt;
 font-family    : Tahoma;
 color          : #333333;
}
form.statusform {
 margin : 0px;
 padding: 0px;
}


	/* Level 3 layers */

div#testdiv1 {
 position               : absolute;
 visibility             : hidden;
 background-color       : white;
 background-color : white; 
 z-index                : 3;
}
div.bildeclear {
 clear:both;
}


#infomessage_container {
	position: absolute;
	width:100%;
	z-index: 99999;
}
#infomessage_container2 {
	width: 940px;
	margin:auto;
}
#infomessage {
	width: 400px;
	margin-left: 160px;
	color:#333;
	cursor: pointer;
	font-weight: bold;
	-moz-border-radius-bottomleft: 5px 5px;
	-moz-border-radius-bottomright: 5px 5px;
	-webkit-border-bottom-left-radius: 5px 5px;
	-webkit-border-bottom-right-radius: 5px 5px;
	 border: 3px solid #69993E;
	 border-top: 0px;
}
.warning {
 background-color:#ffffff;
}
.errormessage {
 background-color:#ff5555;
}
.errormessage p {
 background: url(../images/icns/exclamation.png) 15px 5px no-repeat;
 padding: 5px 5px 5px 40px;
 margin: 0px;
 color:white;
}
.warning p {
 background: url(../images/icns/error.png) 15px 5px no-repeat;
 padding: 5px 5px 5px 40px;
 margin: 0px;
}

.updated {
 background-color:#ffffff;
}
.updated p {
 background: url(../images/icns/accept.png) 15px 5px no-repeat;
 padding: 5px 5px 5px 40px;
 margin: 0px;
}

/* Patruljesidehjelp */

.faqFrame {
 color           : #000000;
 padding         : 5px;
 margin          : 8px;
}
.faqFrame b {
 display         : block;
 border          : 1px solid #000000;
 padding         : 2px;
 background      : #EEFFEE;
}

/* BB Code */

div.sitat1, div.sitat2, div.sitat3 {
	padding: 5px;
	margin: 4px;
	border: 1px dashed #666666;
}

div.sitat1 {
	margin-top: 10px;
	margin-bottom: 3px;
	background: #FFFFEE;
}
div.sitat2 {
	background: #FFFFFF;
}
div.sitat3 {
	background: #FFFFEE;
}
div.sitat1 .tittel, div.sitat2 .tittel, div.sitat3 .tittel  {
	font-style: italic;
	font-size: 10px;
	margin-bottom: 4px;
	color: #666666;
}
div.sitat1 .innhold, div.sitat2 .innhold, div.sitat3 .innhold {
	padding-left: 8px;
	font-size: 10px;
	color: #888888;
}

/* Medlemsliste */

/*
ul.memberlist_normal {
	margin: 8px 0px 8px 20px;
	padding: 0px;
}
ul.memberlist_normal li{
	margin: 0px 0px 2px 20px;
	background: none;
}
background: url(%bg_image%) no-repeat left; padding: 8px 3px 8px 35px; 
*/


ul.memberlist_imageview {
	margin-left: 0px;
	padding: 0px;
}
ul.memberlist_imageview li {
	list-style-type: none;
	background: none;
	display: block;
	float: left;
	margin: 0px;
}

/* News */

a.bildevelgerlink {
 display:block;
 width:150px;
 height:150px;
 border:1px dotted #999;
}
a.bildevelgerlink:hover {
 text-decoration: none;
 background:#ffc;
}

img.ingressbilde {
 border: 0px solid #fff;
 border-radius: 5px; 					/* Opera */
 -moz-border-radius: 5px; 				/* Mozilla */
 -webkit-border-radius: 5px; 			/* Webkit (Safari, Chrome) */

 box-shadow: 0px 0px 10px #888;			/* Opera */
 -moz-box-shadow: 0px 0px 10px #888;	/* Mozilla */
 -webkit-box-shadow: 0px 0px 10px #888; /* Webkit (Safari, Chrome) */
}
h2#respond {
 clear:both;
 color:#444;
 border-top:1px solid #ddd;
 margin: 20px 0px 0px 0px;
}
h3 {
 color:#444;
}
div.news {
}
div.news h2 {
 border-bottom: 1px solid #888;
}
div.news h2 a:hover {
 text-decoration:none;
}

div.news, div.comment {
	padding: 3px;
}
div.comment {
	padding-left: 23px;
 	background: url(../images/icns/comment.png) no-repeat 5px 4px;
}
div.news strong, div.comment strong {
 
}
div.commentFooter {
	font-size: 10px;
	text-align: left;
 	margin-top: 4px;
 	padding-bottom: 10px;
 	margin-bottom: 0px;
 	color: #666;
}

.headerLinks { margin: 10px 0px; }
.footerLinks { font-size: 10px; margin: 4px 0px 16px 0px; }
.headerLinks a, .footerLinks a {
 display:inline-block;
 background-repeat: no-repeat;
}
.headerLinks a {
 background-position: 2px 50%;
 padding:3px 2px 3px 22px;
}
.footerLinks a {
 background-position: 6px 50%;
 padding:2px 2px 2px 22px;
}
.headerLinks a.edit { background-image: url(../images/icns/pencil.png); }
.headerLinks a.add { background-image: url(../images/icns/add.png); }
.headerLinks a.delete { background-image: url(../images/icns/cross.png); }
.headerLinks a.readmore { background-image: url(../images/icns/arrow_right.png); }

.footerLinks a.readmore { background-image: url(../images/icns/bullet_go.png); }
.footerLinks a.edit { background-image: url(../images/icns/bullet_pencil.png); padding-left:24px; }
.footerLinks a.delete { background-image: url(../images/icns/bullet_cross.png); }
.footerLinks a.comments { background-image: url(../images/icns/comments.png); padding-left:26px; }
.footerLinks a.comment { background-image: url(../images/icns/comment.png); padding-left:24px; }
.footerLinks a.reply, .footerLinks a.replyall { background-image: url(../images/message_reply_icon.gif); padding-left:26px; }
.footerLinks a.subscribe { background-image: url(../images/icns/eye.png); padding-left:24px; }

.commentform .textinput {
	width: 360px;
	color			: #006600;
	font-family     : Verdana, Arial, Helvetica, sans-serif;
	font-size       : 12px;
	border			: 1px solid #aaa;
}
.commentform textarea.textinput {
	width: 300px;
	height: 100px;
}

form#newsform textarea {
	width: 390px;
	height: 180px;
}
form#newsform #subject {
	width: 360px;
}
form#newsform #news_preview {
	float: right;
}

form#newsimageuploadform #img_name, form#newsimageuploadform #img_filename {
	width: 300px;
}

/* Poll */

.pollres {
 display     : block;
 height      : 14px;
}
.progressbar {
 border      : 1px solid #000000;
 white-space : nowrap;
 padding     : 0px;
 margin      : 0px;
 float       : right;
}

/* Memberlist */
table.mlist {
	border-color: #999999;
    border-width: 0 0 1px 1px;
    border-style: solid;
}
tr.mlist1 { 
	background:#F6F1EE;
	cursor:pointer;
}
tr.mlist2 { 
	background:#F2ECE7;
	cursor:pointer;
}
tr.mlist1:hover,tr.mlist2:hover { 
	background: #fff; 
}
table.mlist td {
	font-size: 9px;
	border-color: #999999;
    border-width: 1px 1px 0 0;
    border-style: solid;
}
a.mlist1,a.mlist2,a.forum3 {
	display: block;
}

/* Sideoversikt */
tr.tabell1 { 
	/*background:#FFFFFF;*/
}
tr.tabell2 { 
	/*background:#EEFFEE;*/
}
tr.tabell1:hover,tr.tabell2:hover { 
	background: #fff; 
}

/* Forum */
table.forum {

}
table.forum th {
	text-align: left;
	background: #ffffff;
}
tr.forum1 { 
	cursor:pointer;
}
tr.forum2 { 
	cursor:pointer;
}
tr.forum3 { /* Nye innlegg */
	cursor:pointer;
}
tr.forum3 .td2 { /* Nye innlegg */
	font-weight:bold;
}
table.forum .td3, table.forum .td4 { /* Nye innlegg */
  white-space: nowrap;
  font-size:11px;
}
table.forum a:hover {
 text-decoration:none;
}
tr.forum1:hover,tr.forum2:hover { 
	background: #fff; 
}
tr.forum3:hover { 
	background: #FFFFee; 
}

a.forum1,a.forum2,a.forum3 {
	display: block;
}
table.forumposts {
 border-bottom:6px solid #88b852;
}
table.forumposts td {
 padding: 15px 2px 15px 2px;
}
tr.forumpost1 {

}
tr.forumpost2 {

}
td.forumpost1_left, td.forumpost2_left {
	width: 130px;
	text-align: center;
 border-top:6px solid #88b852;
}
td.forumpost1_right, td.forumpost2_right {
 border-top:6px solid #88b852;
}
div.forum_subject,div.forum_subject_unread {
	font-weight: bold;
	text-align: center;
	margin: 3px;
}
div.forum_subject {
	
}
div.forum_subject_unread {
	background:#FFFF00;
}

#forum_reply_form { padding: 10px; }
#forum_reply_form #body { width: 460px; height: 120px; }
#forum_reply_form #subject { width: 460px; }

div.reply_header {
	font-weight: bold;
	text-align: center;
	margin: 3px;
}


.forumPostSubject {
 display         : inline;
 font-style      : italic;
}

.forumLeftCell {
 border-right    : 1px dashed #333333;
 border-bottom   : 1px solid #333333;
 font-family     : Verdana, Arial, Helvetica, sans-serif;
 font-size       : xx-small;
}
.forumMainCell {
 border-bottom   : 1px solid #333333;
 font-family     : Verdana, Arial, Helvetica, sans-serif;
 font-size       : 10pt;
 width 		 : 380px; /* jeg la til dette...Kjartan. Mangler bryting for lange ord forelxpig...*/
}

/* Sites & Images */

p.imagethumbs a {
	display: block;
	float:left; 
	width: 146px; 
	height: 146px; 
	margin: 5px; 
	border: 1px solid #EDF0ED; 
}
p.imagethumbs a:hover {
	background: #eeeeff;
	border: 1px solid #aaaaaa; 
}
p.imagethumbs a img {
	border: 2px solid #EDF0ED;
}

/* WordBox */

ul.snikksnakk {
	color			: #006600;
	font-family     : Verdana, Arial, Helvetica, sans-serif;
	font-size       : 10px;
	list-style-type : none;
	padding         : 0px;
	margin          : 0px;
}
ul.snikksnakk li {
	padding         : 2px;
}
li.snikksnakk1 {
	background      : none;
}
li.snikksnakk2 {
	background		: none;
}
li.snikksnakk3 {
	background      : #FFCCCC;
}

/* Weather forecacast from yr.no */

.weatherTable {
 font-size:10px;
}
.weatherTable th {
}


table.hvaskjer {
	width           : 100%;
	border-collapse : collapse;
}
table.hvaskjer td {
	padding: 2px;
	margin: 0px;
	color			: #006600;
	font-family     : Verdana, Arial, Helvetica, sans-serif;
	font-size       : 10px;
}
table.hvaskjer td.venstre1, table.hvaskjer td.venstre2 {
	width: 65px;
	text-align: right;
}
table.hvaskjer td.venstre1, table.hvaskjer td.hoyre1 {
	background      : #CCF0CC;
}
table.hvaskjer td.venstre2, table.hvaskjer td.hoyre2 {
	
}

#wordboxform #snikksnakkform_text, #wordboxform #snikksnakkform_submitbtn {
	background      : #ddffdd;
	color			: #006600;
	font-family     : Verdana, Arial, Helvetica, sans-serif;
	font-size       : xx-small;
}
a.wordbox:link{
	color           : #339933;
	text-decoration : none;
}
a.wordbox:visited{
	color           : #339933;
	text-decoration : none;
}
a.wordbox:hover{
	color           : #339933;
	text-decoration : underline;
}
a.wordbox:active{
	color           : #339933;
	text-decoration : none;
}
b.wordbox {
	color			: #444444;

}

.whiteInfoBox {
 width:100%;
 background:#fff;
}
.whiteInfoBox .inner {
 padding: 20px 40px 20px 45px;
}
.whiteInfoBox p {
 padding: 0px 0px 10px 0px;
 margin:0px;
}
/* Comments class */

div.lastcomments {
	font-family    : Tahoma;
	font-size      : 10px;
}


.setting_name {
	width : 120px;
	font-family    : Tahoma;
	font-size      : 12px;
}
.setting_value {
	width : 360px;
	font-family    : Tahoma;
	font-size      : 12px;
}


/* Skjema */

.reg_steg {
	padding: 15px;
	background-color: #fff;
}
.reg_below {
	font-weight: bold;
	color: #666;
	text-align: center;
	padding: 3px;
	margin-left:350px;
	width:140px;
	margin-right:10px;
	background-color: #ffd;
}
#indicatorbar {
	background: #888888; 
	height: 5px;
	margin-top:2px;
}
.reg_steg h2 {
	margin: 2px;
}

/** BEGIN SKJEMA **/

table.skjema { margin-bottom: 1em; }
table.skjema,table.skjema td{border-collapse:collapse; border-color: #444; vertical-align:top;font: 11px Arial,sans-serif}
table.skjema input, table.skjema textarea { border:1px solid #aabbaa; padding: 2px; font: 12px Arial,sans-serif; }
table.skjema input { background: url(../images/greytr.jpg) repeat-x white; }
table.skjema input:hover, table.skjema textarea:hover {background:#ffffdd}
table.skjema input:focus, table.skjema textarea:focus {background:#ffffbb}
table.skjema a.calendar { border: 1px solid #aaa; padding: 2px; background: #fff; display:block; font: 12px Arial,sans-serif; color: #000; }
table.skjema a.calendar:visited { color: #000; }
table.skjema a.calendar:hover { background:#ffffdd; text-decoration: none; }
table.skjema a.calendar:focus {background:#ffffbb}
.skjema td { font-family: sans-serif; font-size: 11px; vertical-align: top; }
.skjema label .block { display: block; margin-top: 5px; }
.skjema .notes { color: #ff0000; display: inline; }

table.skjema input.button {
 padding: 2px 20px 2px 20px;
}

#regschema label {
	display: block;
	padding: 3px;
	border: 1px solid white;
}
#regschema label:hover {
	background: #eee;
	border: 1px solid #ddd;
}

/** END SKJEMA **/


/* CMS class */

div.filelisting {
	border-top: 1px solid #AAAAAA;
}
div.dir1, div.dir2, div.file1, div.file2 {
	padding: 5px 2px 5px 25px;
	border-bottom: 1px solid #AAAAAA;	
}
div.filelisting div.dir1 {
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: top left;
	background-image: url(../images/mac_dir1.png); 
}
div.filelisting div.dir2 {
	background-repeat: no-repeat;
	background-position: top left;
	background-image: url(../images/mac_dir2.png); 
}
div.filelisting div.file1 {
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: top left;
	background-image: url(../images/mac_file1.png); 
}
div.filelisting div.file2 {
	background-repeat: no-repeat;
	background-position: top left;
	background-image: url(../images/mac_file2.png); 
}
div.filelisting em {
	padding-left: 5px;
	font-size:9px;
	color: #666666;
}
div.filelisting .permissions {
	float:right;
	font-size:9px;
	color: #666666;
}
div.filelisting .options a {
	color: #000000;
}
div.filelisting .title {
}
div.pageoptions {
	border-bottom: 5px solid #DDDFDC;
	padding-bottom: 4px;
}
div.pageoptions .description {
	color: #444444;
	font-family: Georgia;
	font-size: 14px;
	padding-top: 4px;
}
div.pageoptions .description em {
	font-size: 10px;
}
div.pageoptions .edit {
	padding-left: 5px;
}
div.pageoptions input.textbox {
	padding-left: 5px;
	border: 1px solid #AAAAAA;
	width: 450px;
}
div.pageoptions .feedback {
	padding: 3px 3px 3px 10px;
	font-size: 12px;
}
div.pageoptions .editpermissions {
	font-size: 9px;
}
div#backupstatus {
	text-align: right;
	font-size: 10px;
}



/* Typography :: Main entry
----------------------------------------------- */

h2.date-header {
	font-weight:normal;
	text-transform:uppercase;
	letter-spacing:.1em;
	font-size:100%;
	margin:0;
	padding:15px 0px 0px 0px;
}
h3.author {
	font-weight:normal;
	text-transform:uppercase;
	letter-spacing:.1em;
	font-size:11px;
    color: #666;
	margin:0;
	padding:3px 0px 0px 0px;
}

.post {
	margin:8px 0 4px 0;
	line-height:1.5em;
}
h2.post-title {
	padding:0px;
}
.post-body p {

}
.post-footer {
	font-family:Verdana, sans-serif;
	color:#211104;
	font-size:90%;
	font-style: italic;
}
.post hr {
	border: none;
	margin-top: 10px;
	margin-bottom: 10px;
}

/****** ARTICLE *****/

p.lead {
	font-size: 120%;
}
div.first_article, div.other_article {
	margin-bottom: 5px;
	padding: 15px 10px 15px 10px;
}
div.first_article {
	background: url(../images/badenpowell8.gif) no-repeat top right #ffffff;
	padding-right: 200px;
	padding-top: 30px;
}
div.other_article {

}
div.first_article h2, div.other_article h2 {
	margin: 0px; 
	padding: 0px;
}
div.first_article h2 {
	padding-bottom: 20px;
}
.article p.lead {
	font-family: Georgia, Times, Times New Roman, sans-serif;
	color:#29303B;
	font-weight: bold;
	margin-top: 20px;
	line-height: 140%;
	margin-bottom: 0px;
}
.article .authors {
	text-align:right;
	padding-right: 13px;
 }
.article .authors em {
	font-size: 10px; 
}
.article .author {
	float:right; 
	width: 75px;
	text-align: center; 
	font-family:Verdana, sans-serif;
	color:#211104;
	padding: 5px 0px 2px 0px;
	font-size:9px;
	margin-left: 5px;
}
.article .author img {
	width: 55px; 
	height: 73px;
}


/****** LOG *****/

div.first_log, div.other_log {
	margin-bottom: 5px;
	padding: 15px 5px 15px 10px;
}
div.other_log {

}

div.first_log h2, div.log_article h2 {
	margin: 0px; 
	padding: 0px;
}

div.first_log {


}
div.first_log h2 {
	padding-bottom: 5px;
}
ul.simpleAuthorList, .authorlist ul {
	margin:0;
	padding:0;
}
ul.simpleAuthorList {
	list-style:none;
	padding: 0px;
	margin: 0px;
}
.authorlist li {
	list-style:none;
	display:block;
	float:left;
	color:#446;
	height:46px;
	vertical-align:top;
	padding: 0px;
	margin: 2px;
	border: 1px solid #eee;
	background: #efefef;
	white-space: nowrap; 
  border-radius: 6px; 					/* Opera */
  -moz-border-radius: 6px; 				/* Mozilla */
  -webkit-border-radius: 6px; 			/* Webkit (Safari, Chrome) */
}
.authorlist img {
  border-radius: 6px; 					/* Opera */
  -moz-border-radius: 6px; 				/* Mozilla */
  -webkit-border-radius: 6px; 			/* Webkit (Safari, Chrome) */
}

.postbox {
 border-color:#DFDFDF;

 border-radius: 6px; 					/* Opera */
 -moz-border-radius: 6px; 				/* Mozilla */
 -webkit-border-radius: 6px; 			/* Webkit (Safari, Chrome) */
  
 border-style:solid;
 border-width:1px;
 line-height:1;
 margin-bottom:20px;
 background: white;
}
.postbox .handle {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#DFDFDF url(../images/gray-grad.png) repeat-x scroll left top;
	text-shadow:0 1px 0 #FFFFFF;
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-bottomright:0;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	font-size:12px;
	font-weight:bold;
	line-height:1;
	margin:0;
	padding:7px 9px;
	font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	cursor:pointer;
}
.postbox .inside {
 margin: 8px 8px 10px;
 font-size: 11px;
}
.closed .inside {
 display: none;
}
#log_lead {
 width:460px; height: 80px; padding:10px;margin:5px;
 font-size:12px;
 border: 1px solid #dfdfdf;

 border-radius: 6px; 					/* Opera */
 -moz-border-radius: 6px; 				/* Mozilla */
 -webkit-border-radius: 6px; 			/* Webkit (Safari, Chrome) */

}

/******* FRONTPAGE *******/

#aktuelt {
    background: #fff;
	padding: 6px;
	margin-bottom:15px;
	margin-top: -8px;
	font: 11px sans-serif;
	 border-radius: 5px; 					/* Opera */
	 -moz-border-radius: 5px; 				/* Mozilla */
	 -webkit-border-radius: 5px; 			/* Webkit (Safari, Chrome) */

}

#aktuelt a:link {
 text-decoration: none;
 border-bottom: 1px dotted;
}
#aktuelt a:hover {
 text-decoration: none;
 border-bottom: 1px solid;
}

#aktuelt table {
 margin-left: auto;
 margin-right: auto
}
#aktuelt th, #aktuelt td {
    padding: 3px;
}
#aktuelt th {
    text-align: right;
    vertical-align: top;
    font-weight: bold;
    white-space: nowrap; 
    color: #998D3F;
}
#aktuelt ul {
    list-style-type:none;
      margin:0px;
      padding:0px;
      background:none;
}
#aktuelt li {
      list-style-type:none;
      display:block;
      margin:0;
      padding: 3px 2px 3px 20px;
}
#aktuelt li.green {
      background: url(/images/icns/flag_green.png) left center no-repeat;
}
#aktuelt li.purple {
      background: url(/images/icns/flag_purple.png) left center no-repeat;
}
#aktuelt li.yellow {
      background: url(/images/icns/flag_yellow.png) left center no-repeat;
}
#aktuelt li.blue {
      background: url(/images/icns/flag_blue.png) left center no-repeat;
}
#aktuelt li.orange {
      background: url(/images/icns/flag_orange.png) left center no-repeat;
}
#aktuelt li.idea {
      background: url(/images/icns/lightbulb.png) left center no-repeat;
}

/***** MEMBERLIST ******/

ul.membershipedit {
	font-size: 11px;
}
ul.membershipedit form {
	background: #ffffff;
	border: 1px solid #dddddd;
	padding: 3px;
}

/***** ALPHA SHADOW ******/

.alpha-shadow {
  float: left;
  background: url(../images/shadow/shadow1.gif) no-repeat bottom right;
  margin: 10px 0 0 10px !important;
  margin: 10px 0 0 5px;
}
.alpha-shadow.nomargin {
  margin: 0px 2px 0 2px !important;
  margin: 0px 2px 0px 2px;
}
.alpha-shadow#fullsize {
  margin: 0;
}

.alpha-shadow .inner_div {
  float: left;
  background: url(../images/shadow/shadow2.png) no-repeat left top !important;
  background: url(../images/shadow/shadow2.gif) no-repeat left top;
  padding: 0px 5px 4px 0px;
}

.alpha-shadow img, .alpha-shadow .pseudoImg {
  background-color: #fff;
  border: 1px solid #a9a9a9;
  padding: 4px;
  margin: 0px;
}

.alpha-shadow.noframe img {
  padding: 0px;
  border: 0px;
}

/**** ENROLMENTS ****/



/*********** BILDEARKIV / PHOTO ARCHIVE ***************/

.photoFrame .noframe {
 display:table-cell; 
 text-align:center; 
 vertical-align:middle; 
 font-size:10px; 
 padding:2px;
}
.photoFrame .noframe img {
 display:inline;
 vertical-align:middle;
 border: none;
}

a.photoAlbum {
 display:block;
 float:left;
}
a.photoAlbum:hover {
 text-decoration:none;
}
.photoCountBox {
  background:url(../images/whitebox.png); 
  position:absolute; z-index:2;width:32px;height:15px;margin:7px 6px 6px 171px; 
  padding-top:3px; text-align:center;
  font-size:9px; color: #fff; font-weight: bold;
}

.tagged_person_link:link, .tagged_person_link:visited {
	display: inline-block;
	padding: 1px 6px 1px 6px;
	margin: 1px 3px 1px 3px;
	background-color: #BDD9C8;
	font-size: 11px;
	color: #000;
}
.tagged_person_link:hover {
  background: #D0E7D9;
  text-decoration: none;
  color: #000;
}
.tagged_person_link a {
  display: inline-block;
  padding-left:5px;
}
.tagged_person_frame, .tagged_person_cross {
  display: none;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
.tagged_person_frame {
  border:3px solid #44e;
}
.tagged_person_frame div {
 width:100%;
 height:100%;
}
.tagged_person_cross {
  border:3px solid #d44;
}
.tagged_person_cross div {
  background:#d44;
  opacity:0.2;
  filter: alpha(opacity=20);
  width:100%;
  height:100%;
}
#name_float {
  display: none;
  position: absolute; 
  width: 140px;
  z-index:2;
  padding:3px;
  background: #fff;
  font-size:11px;
  text-align:center;
  /*
  opacity:0.8;
  filter: alpha(opacity=80);
  */
}
#crossform {
  background: #fff; 
  width: 180px; 
  border: 1px solid #555; 
  padding: 5px; 
  display: none;
  position:absolute; 
  z-index:3;
}

/*********** CALENDAR / TERMINLISTE / KALENDER ***************/

.infoSection {
border-top: 2px solid #BBB;
margin-bottom:30px;
}

.dataTable {
border-color: gray;
border-spacing: 0px 0px;
border: 0px;
border-collapse: collapse;
width: 100%;
}
.dataTable th.label {
 color: #686;
 font-weight: bold;
 text-align: left;
 vertical-align: top;
 width: 105px;
 padding: 3px 0px 1px;
}
.editable th.label {
 padding:7px 0px 1px;
}
.dataTable td.data {
 padding: 3px 0px 1px;
 text-align: left;
 vertical-align: top;
}
.dataTable hr {
 border-bottom: 0px;
 border-style: solid;
 color: #dddddd;
 height: 1px;
 display: block;
 margin: 0.5em auto;
}

/******* SCRIPTACULOUS **********/

div.auto_complete {
      position:absolute;
      width:250px;
      background-color:black;
      border:1px solid #888;
      margin:0px;
      padding:0px;
    }
    div.auto_complete ul {
      list-style-type:none;
      margin:0px;
      padding:0px;
      background:none;
    }
    div.auto_complete ul li {
      list-style-type:none;
      background:none;
      display:block;
      margin:0;
      padding:2px;
      cursor:pointer;
    }
    div.auto_complete ul li.selected { background-color: #ffb;}

/*********** LOGIN-FORM / NOTIFICATIONS *********/

#login_form {
  font-size: 10px;
  padding:5px;
  text-align: right;
}
#login_form .txt {
  width:80px;
  margin:1px;
  border: 1px solid #cad2c8;
  font-size:10px;
  color: #333;
}
#login_form input:focus {
  background: #ffd;
}
#login_form input:active {
  background: #ffd;
  border:1px solid #fff;
}

#login_form .btn {
  width:70px;
  border: 1px solid #ccc;
  font-size:10px;
  color: #333;
  background:#eee;
}
#login_form label {
 display: block;
 text-align:right;
}

#login_info {
  padding: 5px;
  font-size: 10px;
  text-align: left;
  color: #333;
}

.notification {
 padding-left: 5px;
 font-size:10px;
}

/************* MESSAGECENTER / MELDINGSSENTER **********/

.msg {	
	padding:10px;
	border-right:1px solid #ddd; 
	border-bottom:1px solid #ddd; 
	border-top:1px solid white; 
	border-left:1px solid white; 
	margin:1px;
}
.msg p {
	/*background: url(../images/greenwhitetrans.jpg) repeat-x #fff; */
	padding: 5px;
}
.replyForm {
  border: 1px solid #ddd;
  border-top: none;
  margin-left:4px;
  background: #ffffee;
}

.ui-button {
	vertical-align: top;
}

/**
 * Nestable
 */

.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

.dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-handle:hover { color: #2ea8e5; background: #fff; }

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}
.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}