/*

body {

}
div#container {
 background		: none;
}
div#container2 {
 background		: none;
}
div#container2 h1 {
 margin			: 0px;
}
div#container3 {
 float			: right;
 width			: 735px;
}
div#menu {
 width          : 155px;
 padding		: 0px;
 background		: none
}
div#content {
 padding		: 10px 10px 10px 10px;
 width			: 500px;
}
div#langbar {
}
div#renderinfo {
 padding-top	: 10px;
 text-align		: right; 
 color			: #AAAAFF;
}

div#hoyrekolonne {
 float			: right;
 width          : 200px; 
 padding-top	: 10px;
}

div#meny {
}
div#loginfelt {
 padding-top		: 0px;
}


body{
	width: 900px;
	min-width:800px;
	margin: 1em auto;
	background:url(../images/18bergen3_01.jpg) top no-repeat #FFF;
}
a,address a{color: #4286F4;text-decoration:underline}
a:visited{color: #55A628}
h1{margin: 1em 0 0}
h1 img{border: 0px solid}
h2{font: lighter 230%/0.95 "Trebuchet MS",arial,sans-serif;color: #FF6600; background: #dddddd; margin: .3em 0 0.3em 0; padding: 20px; }
p{margin: 0 0 1.3em}
address{width:430px;font-size: 1.2em;text-align:right;color: #3399FF;margin:  -10px 0  1.5em}
p.codice{background: #FFC}
table{width: 600px;margin-bottom: 1.3em}
table,td{border-collapse:collapse;vertical-align:top;font: 11px Arial,sans-serif}
td,th{border:1px solid #CCC;padding: 5px}
thead th{background: #3399FF;color: #FFF}
tbody th{width: 250px;font-weight:normal;text-align:left;vertical-align:top}

*/