
AddDefaultCharset utf-8

<IfModule mod_rewrite.c>
  
  RewriteEngine on


RewriteCond %{HTTPS} off
# First rewrite to HTTPS:
# Don't put www. here. If it is already there it will be included, if not
# the subsequent rule will catch it.
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# Now, rewrite any request to the wrong domain to use www.
# [NC] is a case-insensitive match
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule .* https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Ignore
  # [L]-flagget angir Last Rule

  #RewriteRule ^$ nyheter/ [R,L]

  # Treats the TestString as a pathname and tests if it exists and is a directory or a regular file.
  RewriteCond %{REQUEST_FILENAME} -d [OR]
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule . - [L]

  RewriteRule ^sms-delivery-report /lederverktoy/sms/?noprint=true&sms_action=delivery_report&%{QUERY_STRING} [R,L]

  RewriteRule . index.php?s=0002&%{QUERY_STRING}

</IfModule>

#php_value upload_max_filesize 1M
#php_value extension_dir "./www/libs/pdflib/bind/php/php-520"

