# ------------------------------------
# Cheat sheet
# [L]: Last Rule
# [NC]: Case-Insensitive Match
# ------------------------------------

AddDefaultCharset utf-8

<IfModule mod_rewrite.c>
  RewriteEngine on

  # Rewrite to HTTPS
  RewriteCond %{HTTPS} off
  RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

  # Rewrite .org to .no
  RewriteCond %{HTTP_HOST} ^www.18bergen.org$ [OR]
  RewriteCond %{HTTP_HOST} ^18bergen.org$
  RewriteRule .* https://www.18bergen.no%{REQUEST_URI} [R=301,L]

  # Rewrite to www. subdomain
  RewriteCond %{HTTP_HOST} !^www\.
  RewriteRule .* https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

  # Regular files
  RewriteCond %{REQUEST_FILENAME} -d [OR]
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule . - [L]

  RewriteRule ^sms-delivery-report /lederverktoy/sms/?noprint=true&sms_action=delivery_report&%{QUERY_STRING} [R,L]

  # Use index.php as router for everything else
  RewriteRule . index.php?s=0002&%{QUERY_STRING}
</IfModule>

