<p style="color:#666">
%sender_name% (<a href="mailto:%sender_email%">%sender_email%</a>) har sendt 
deg en melding fra %site_name%s meldingssystem. <span style="color:#944">Vær 
klar over at avsender ikke trenger å være den han/hun utgir seg for å være! Vi
har dessverre ingen mulighet for å bekrefte avsenders identitet.</span>
</p>
<table bgcolor="#EDF0ED" width='100%'>
 <tr><td style='padding:10px; font-family: sans-serif; font-size: 10pt;'>
 %message_html%
 </td></tr>
</table>
<p style="color:#666">
    <i>Denne eposten ble sendt fra %site_name% sin nettside av en gjest med ip %ip%.</i><br />
    Misbruk av meldingssystemet kan rapporteres til 
    <a href="mailto:webmaster@18bergen.org">webmaster@18bergen.org</a>.<br />
    <a href="%url_root%">%url_root%</a>
</p>
