<p style="color:#666">
%sender_name% (<a href="mailto:%sender_email%">%sender_email%</a>) har sendt 
deg en melding via %site_name%s meldingssystem: 
</p>
<table bgcolor="#EDF0ED" width='100%'>
 <tr><td style='padding:10px; font-family: sans-serif; font-size: 10pt;'>
 %message_html%
 </td></tr>
</table>
<p>
  <a href="%url_reply%" style="display:inline-block;padding:5px;font-weight:bold;">Svar på denne meldingen</a>
</p>
<p style="font-size:small; margin-top:10px; color: #444">
    <strong>Visste du at</strong> ved å trykke på "Svar på denne meldingen" 
    svarer du via %site_name% sitt meldingssystem? 
    Svaret ditt knyttes til denne meldingen, og det blir lettere for avsender 
    å finne det.
    Når du er logget inn på %site_name%, kan du dessuten vise 
    (og slette om du ønsker det) tidligere mottatte meldinger sendt via 
    meldingssystemet vårt, ved å trykke på «Meldingssenter» i menyen.
    <div style="clear:both;"><!-- --></div>
</p>
<p style="color:#666">
    <i>Denne eposten ble sendt fra %site_name% sin nettside av en innlogget bruker.</i><br />
    <a href="%url_root%">%url_root%</a>
</p>
