<div align="center" style="margin-top:10px;">
	<div style="width:700px;">
		<table bgcolor="#EDF0ED" width="700" style="margin:0px"><tr><td width="190">
			<img src="%header_image%" style="margin:0px" alt="Våpenskjold" />
		</td><td>
			<div style="font-weight: bold; font-size: 12pt; color: #770000; letter-spacing: 2px;padding:10px 10px 0px 0px;">
				%newsletter_name%
			</div>
			<div style="padding: 20px 0px 0px 0px;">
				<b>Skrevet av: </b> <a href="mailto:%author_addr%">%author_name%</a><br />
				%recipients%
				<b>Sendt ut: </b> %timestamp%
			</div>		
		</td></tr></table><table bgcolor="#EDF0ED" width="700" style="margin:0px"><tr>
			<td style="padding:10px; font-family: sans-serif; font-size: 10pt;">
				<div style="padding:20px;border-top:6px solid #88b852; border-bottom:6px solid #88b852;">
					<div style="font-size: 16pt; color: #770000; letter-spacing: 2px;padding:0px 0px 15px 0px;">
						%subject%
					</div>
					%body%
				</div>
				<div style="padding-top: 20px; font-size:10px; text-align: center; color:#888888;">
					Sendt fra 18. Bergen V-S sin nettside, <a href="%url_main%">%url_main%</a><br />
					Eldre nyhetsbrev kan leses på <a href="%url_archive%">%url_archive%</a><br />
					Ønsker du ikke å motta nyhetsbrev? <a href="%url_unsubscribe%">Klikk her</a>
				</div>				
			</td>
		</tr></table>
	</div>
</div>