Options -Indexes

# The ForceType directive "application/octet-stream" enforces Apache to serve all files with an attachment header to force a download dialog. More importantly, it prevents Apache to run any of the uploaded files through an interpreter like PHP, even if the file extension is ".php".


ForceType application/octet-stream
Header set Content-Disposition attachment
<FilesMatch "(?i)\.(gif|jpe?g|png)$">
  ForceType none
  Header unset Content-Disposition
</FilesMatch>
Header set X-Content-Type-Options nosniff

RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://(www\.)?18bergen.org/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(www\.)?18bergen.no/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://bergenvs.dev:8000/.*$ [NC]
RewriteRule \.(gif|jpg|js|css)$ - [F]

<IfModule mod_php5.c>
  php_value engine off
</IfModule>
<IfModule mod_php4.c>
  php_value engine off
</IfModule>

